
src/hello_world.egg-info/top_level.txt
src/hello_world.egg-info/SOURCES.txt
src/hello_world.egg-info/PKG-INFO
src/hello_world.egg-info/dependency_links.txt
src/helloworld.egg-info/top_level.txt
src/helloworld.egg-info/SOURCES.txt
src/helloworld.egg-info/PKG-INFO
src/helloworld.egg-info/dependency_links.txt
build/lib/helloworld.py
dist/hello_world-0.0.1-py3-none-any.whl
build/lib/helloworld.py
dist/hello_world-0.0.1-py3-none-any.whl
dist/helloworld-0.0.1-py3-none-any.whl
dist/helloworld-0.0.2-py3-none-any.whl
dist/helloworld-0.0.2.tar.gz
test_helloworld.py
src/helloworld_laurelrr.egg-info/SOURCES.txt
test_helloworld.py
